{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>{% block titulo %}{% endblock  %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    {% block link %}
    
    {% endblock  %}

<body>
    <!------------------------------Header---------------------------->

    <div class="header">
        <div class="container">
            <div class="navbarHeader">
                <div class="logo">
                    <a href="{% url 'inicio' %}"><img src="" width="125px">LOGO</a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'inicio' %}">Home</a></li>
                        <li><a href="{% url 'categorias' %}">Categorias</a></li>
                        <li><a href="">Sobre</a></li>
                        <li><a href="{% url 'sac' %}">SAC</a></li>
                        {% if user.id is NULL %}
                            <li><a href="{% url 'login' %}">Login/Cadastro</a></li>
                        {% else %}
                            <li><a href="{% url 'perfil' %}">Conta</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <a href="{% url 'carrinho' %}"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
    </div>


    <!------------------------------Main------------------------------>

    <main>
        {% block conteudo %}
        
        {% endblock %}
    </main>


    <!------------------------------Footer---------------------------->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download App</h3>
                    <p>Download App Para Android e ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>


                <div class="footer-col-3">
                    <h3>Links</h3>
                    <ul>
                        <li>Cupons</li>
                        <li>Blog</li>
                        <li>Politica de Privacidade</li>
                        <li>Seja um afiliado</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3>Redes Sociais</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2022 - E-Commerce WebSite</p>
        </div>
    </div>

    <!-------------------------js menu------------------->

    <script>
        var MenuItems = document.getElementById("MenuItems")

        MenuItems.style.maxHeight = "0px";

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            } else

            {
                MenuItems.style.maxHeight = "0px";

            }


        }
    </script>



</body>

</html>